{{#*inline "page"}}

<section>
    <h1>About Jake</h1>
    <p>I'm a software engineer in Pittsburgh, PA. I currently work at Google on software to automate operations in our data centers. I have a wonderful cat named Pierogi.</p>
    <figure>
        <img style="width: min(30%, 350px)" alt="Pierogi: a striped bobtail cat laying on a couch and looking at the camera." src="img/IMG_2779.jpg">
        <figcaption>Pierogi in her natural habitat.</figcaption>
    </figure>
</section>

{{/inline}}
{{~> (parent)~}}