<footer>
    <p>Find the source code on <a href="https://github.com/jakestambaugh/jake.land">GitHub</a>.</p>
    <h3>Follow these other wonderful websites</h3>
    <ul>
        <li><a href="http://ganglionic.com">This cool blog!!!</a></li>
    </ul>
</footer>