<header class="page-header">
    <div class="masthead">
        <h1>jake.land</h1>
        <h2>A software blog by Jake Stambaugh</h2>
    </div>
    <nav>
        <a href="/">Blog</a>
        <a href="/about">About</a>
    </nav>
</header>