<!doctype html>
<html>
<head>
    <title>Jake Stambaugh - {{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{!-- The {{> }} syntax calls a partial --}}
    {{~> header}}
    {{! The addition of the ~ character trims whitespace from the injected template }}
    {{~> page}}
    {{~> footer}}
</body>
</html>
